.bg-img{
    background: linear-gradient(0deg,#00000073, #00000069), url("../../assets/img/church-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.navbar-toggler{
    border: 1px solid greenyellow;
    outline: none;
}