


<section class="events-tagline">
<h1 class="display-5">UPCOMING EVENTS</h1>
</section>

<section class="event-section">
<div class="card">
<div class="card-img1"></div>
<div class="card-title fw-light">
<p class=" lead">Bible Study</p></div>
<div class="card-date">July 09, 2030</div>
<button class="card-btn">register now</button>
</div>

<div class="card">
<div  class="card-img2"></div>
<div class="card-title">
<p class="lead">Wednesday Worship<p></div>
<div class="card-date">July 09, 2030</div>
<button class="card-btn">register now</button>
</div>

<div class="card">
<div  class="card-img3"></div>
<div  class="card-title ">
<p class=" lead">Sunday School</p></div>
<div  class="card-date">July 09, 2030</div>
<button  class="card-btn">register now</button>
</div>
</section>

