<footer>
    <div class="flex-footer">
    
    
    
    <div class="footer-tablebox"> 
    <div class="footer-headline">Get To Know Us</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
    <li><a href="#!">Career</a></li>
    <div class="footer-seperator"></div>
    <li><a (click)="gotoabout()">About Us</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Press Center</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Investor Relations</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Advertise</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Company News</a></li>
    <div class="footer-seperator"></div>
    </ul>
    </div>
    <!--first tablebox stops here-->
    <div class="footer-tablebox"> 
    <div class="footer-headline">Events</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
    <li><a href="#!">Eat & Greet</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Movie Night</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Concert Night </a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">School Supplies</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Raise Money</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Bible Study</a></li>
    <div class="footer-seperator"></div>
    </ul>
    </div>
    <!--seconds tablebox stops here-->
    <div class="footer-tablebox"> 
    <div class="footer-headline">Mission</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
    <li><a href="#!">Donate</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Conservation</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Poverty </a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Rebuild</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Spread Faith</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Believe</a></li>
    <div class="footer-seperator"></div>
    </ul>
    </div>
    <!--third tablebox stops here-->
    <div class="footer-tablebox" style="border-right:none ;border-bottom: none;"> 
    <div class="footer-headline">Help</div>
    <div class="footer-seperator"></div>
    <ul class="footer-navlink">
    <li><a href="#!">Contact Us</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">FAQs</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">COVID-19 </a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Send Feedback</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Privacy Policies</a></li>
    <div class="footer-seperator"></div>
    <li><a href="#!">Other</a></li>
    <div class="footer-seperator"></div>
    </ul>
    </div>
    <!--fourth tablebox stops here-->
    
    
    </div>
    <hr>
    <p style="color: #fff; text-align: center;">
     &#169; Belief Ministers or its affiliated companies. All rights reserved.  
    </p>
    
    <div class="footer-logo-box">
    <a onclick="window.scrollTo(0, 0);"  class="logo-footer">
    <img src="../../assets/img/belief.png"  alt="i'm a logo">
    </a>
    </div>
    
    </footer>
