<div class="text-center">
<h1 class="display-1 text-warning">Welcome to Belief Ministries</h1>
</div>

<section style="margin-bottom: 2rem;border-top: solid 1px;" class="hope">
<div class="display-1  text-center fs-3 text text-white" style="background-color: #aa9055;height: 100px;width: 100px;display: flex;place-content: center;place-items: center;">HOPE</div>

<div class="godmsg text-center w-50 m-auto subpasttext">
<p class="display-3" style="color: #aa9055;">"GOD WILL PROVIDE A WAY OUT..."</p>  

<p style="color: #4f3a0b;" class="lead ">
No temptation has overtaken you except what is common to mankind. And God is faithful; 
he will not let you be tempted beyond what you can bear. 
But when you are tempted, he will also provide a way out so that you can endure it. <p style="font-size: 18px;">[1 CORINTHIANS 10:13]</p>
 </div>
</section>

<div class="flex-pastor text-center">
<div class="pastor-img "></div>
<div class="flex-pastor-block">
<h1 class="display-4" style="color: #9e7b11;">Pastor <br> John Doe</h1>
<p class="lead w-50 m-auto subpasttext" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam odio porro reprehenderit corrupti quod a incidunt harum inventore natus sint illo, voluptate repellat dolores iste adipisci id atque recusandae illum.</p>
</div>
</div>
        
<section  class="events-tagline">
<h1 class="fw-light" style="color: #9e7b11;">events</h1>
</section>  

<section class="event-section">
<div class="card">
<div class="card-img1"></div>
<div class="card-title fw-light">
<p class=" lead">Bible Study</p></div>
<div class="card-date">July 09, 2030</div>
<button class="card-btn">register now</button>
</div>

<div class="card">
<div  class="card-img2"></div>
<div class="card-title">
<p class="lead">Wednesday Worship<p></div>
<div class="card-date">July 09, 2030</div>
<button class="card-btn">register now</button>
</div>

<div class="card">
<div  class="card-img3"></div>
<div  class="card-title ">
<p class=" lead">Sunday School</p></div>
<div  class="card-date">July 09, 2030</div><button  class="card-btn">register now</button>
</div>
</section>