
<section class="events-tagline">
<h1 class="display-5">About US</h1>
</section>


<!--first block-->
<div class="join-container" style="margin-bottom: 2rem;">
<div class="history-img"  alt=""></div>
<div class="join-title w-75 m-auto" >
<h1 class="display-3">History</h1>
<p class="lead">God's merciful, marvelous, and tremendous acts are recorded in <br>Church History, demonstrating how his Grace and Word dominate his Church and take over the world.</p>
</div>
</div>
<!--first block-->


<!--second block-->
<div class="join-container" style="margin-bottom: 2rem;">
<div class="value-img"  alt=""></div>
<div class="join-title w-75 m-auto">
<h1 class="display-3">VALUES</h1>
<p class="lead">How much more valuable then is a man than a sheep! <br> So then, it is lawful to do good on the Sabbath.</p>
</div>
</div>
<!--second block-->





<!--third block-->
<div class="join-container" style="margin-bottom: 2rem;">
<div class="vision-img container"  alt=""></div>
<div  class="join-title w-75 m-auto">
<h1 class="display-3">VISION</h1>
<p class="lead">A Place For Everyone to Fell Welcomed.</p>
</div>
</div>
<!--third block-->


