
<section class="events-tagline">
<h1 class="display-5">Visit us</h1>
</section>


<div class="flex-pastor">
<div class="pastor-img-visit"></div>

<div  class="w-75 m-auto text-center">

<h4 class="display-6">Address</h4>
<p class="lead">
704 N Chattanooga St,
LaFayette, GA 30728</p>

<h4 class="display-6">Service Times</h4>
<p class="lead">
Sundays 11:AM <br>
Wednesday 6:PM <br>
Friday 8:PM </p>

<h4 class="display-6">Phone Number</h4>
<p class="lead">
123-456-7890 <br>
 </p>
</div>
</div>


<section class="events-tagline" >
<h1 class="display-5">JOIN US</h1>
</section>


<div class="join-container" style="margin-bottom: 2rem;">

<div class="sta-img"  alt=""></div>

<div class="join-title" >
    <h1 >JOIN CHURCH</h1>
    <p > I'd like to extend and invitation to everyone reading this to come and join us <br> for Sunday mass and prayers. Please
    come and join us in praying <br> to the lord Jesus Christ and betterment in this world.</p>
    
    </div>
    
</div>

<div class="join-container" style="margin-bottom: 2rem;">


<div class="join-title">
<h1>JOIN CHOIR</h1>
<p>I'd like to invite anyone interested in praying and worshipping <br> to the lord Jesus Christ <br> Please join our choir.</p>
                    
</div>


<div class="join-choir-img"  alt=""></div>


</div>


<section class="events-tagline">
<h1 class="display-5">PLEASE CONTACT US FOR MORE INFORMATION</h1>
</section>

<form class="w-50" action="">
    
<label for="fname">First Name</label>
<input type="text" name="" id="fname">
<label for="lname">Last Name</label>
<input type="text" name="" id="lname">
<label for="email">Email</label>
<input type="text" name="" id="email">
<label for="subject">Subject</label>
<input type="text" name="" id="subject">
    
<label for="message">Message</label>
<textarea  type="text" name="" id="message" rows="4" cols="50"></textarea>

<button  class="contact-btn">Submit</button>
</form>


